*{
    box-sizing: border-box;
    text-align: center;
}
body{
    background-color: burlywood;
}
#calculator-container{
    display: flex;
    justify-content: center;
}

.calculator{
    width: 300px;
    height: 500px;
    border: 3px solid firebrick;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.display-div{
    background-color: #ccc;
    display: flex;
    flex-grow: 1;
    height: 40px;
    margin: 2px;
}

.buttons-div{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin: 2px;
}

button{
    font-size: 20px;
    background-color: gray;
    flex-grow: 1;
    width: 40px;
    border-radius: 5px;
}

button:active{
    background-color: chocolate;
    color:#fff;
}

input{
    font-size: 20px;
    text-align: end;
    border-style: groove;
    flex-grow: 1;
}

.buttons-div div{
    display: flex;
    flex-grow: 1;
    border: 1px #ccc solid;
}

.clear-button{
    background-color:firebrick;
}

.equals-button{
    flex-grow: 2;
    width: 80px;
    background-color: chocolate;
}

.equals-button:active{
    background-color: transparent;
}
