* {
  box-sizing: border-box;
  text-align: center;
}

@font-face {
  font-family: digital-7-mono;
  src: url(assets/digital_7_font/digital-7-mono.ttf);
}
@font-face {
  font-family: digital-7;
  src: url(assets/digital_7_font/digital-7.ttf);
}
@font-face {
  font-family: digital-7italic;
  src: url(assets/digital_7_font/digital-7-italic.ttf);
}
body {
  background-color: #242c3d;
}

#calculator-container {
  display: flex;
  justify-content: center;
}
h1 {
  color: cyan;
}

<<<<<<< HEAD
.calculator {
  width: 300px;
  height: 500px;
  border: 3px solid firebrick;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: burlywood;
=======
#main-input{
    border: none;
    font-family: Impact;
>>>>>>> 6b54d8c5eacc0475a897cee0f70ce8cba94fd3e2
}

.display1-div {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 40px;
  margin: 2px;
}

#main-input {
  border: none;
  font-family: digital-7-mono;
  background-color: khaki;
}

#secondary-display {
  flex-grow: 1;
  background-color: #fff;
  text-align: end;
  font-size: 25px;
  font-family: digital-7;
  background-color: khaki;
}

.buttons-div {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 2px;
}

button {
  font-size: 20px;
  font-family: monospace;
  background-color: gray;
  flex-grow: 1;
  width: 40px;
  border-radius: 5px;
}

button:active {
  background-color: chocolate;
  color: #fff;
}

input {
  font-size: 50px;
  text-align: end;
  border-style: groove;
  flex-grow: 1;
}

.buttons-div div {
  display: flex;
  flex-grow: 1;
  border: 1px #ccc solid;
}

.clear-button {
  background-color: firebrick;
}

.equals-button {
  flex-grow: 2;
  width: 80px;
  background-color: chocolate;
}

.equals-button:active {
  background-color: transparent;
}

.buttons-div .button-4 {
  background-color: #2b51e2;
}

.main-input-infinity {
  font-size: 24px;
  color: firebrick;
}

.main-input-error {
  font-size: 20px;
  color: firebrick;
}

footer {
  color: cyan;
}

a {
  color: khaki;
}
